# Docker Compose file for running paperless from the Docker Hub.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.

services:
  # Redis broker
  broker:
    container_name: paperless_broker
    labels:
      glance.name: Paperless-NGX
      glance.icon: di:paperless
      glance.url: https://paperless.felix0351.duckdns.org
      glance.description: Document storage
      glance.id: paperless
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
    networks:
      - internal

  # Postgres Database
  db: 
    container_name: paperless_db
    labels:
      glance.parent: paperless
      glance.name: DB
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    #  - pgdumps:/backups
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - internal

  # Postgres Backup service
  pgbackups:
    container_name: paperless_pgbackup
    labels:
      glance.parent: paperless
      glance.name: Postgres-Dumps
    build: ./backup
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PGUSER: paperless
      PGPASSWORD: paperless
      PGHOST: db
      PGDATABASE: paperless
    volumes:
      - pgdumps:/backups
      - /etc/localtime:/etc/localtime:ro # Take the timezone of the host
    networks:
      - internal

  # Paperless-Ngx main server
  webserver:
    container_name: paperless_server
    labels:
      glance.parent: paperless
      glance.name: Webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    networks:
      - internal
      - reverse-proxy
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media:nocopy
      - ./data/export:/usr/src/paperless/export
      - ./data/consume:/usr/src/paperless/consume
    env_file:
      - docker-compose.env
      - .env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db

  # HP-Scan Service 
  node-hp-scan-to:
    container_name: paperless_hp
    labels:
      glance.parent: paperless
      glance.name: Scan service
    image: docker.io/manuc66/node-hp-scan-to:latest
    restart: unless-stopped
    hostname: node-hp-scan-to
    environment:
      - IP=192.168.178.53
      - LABEL=Paperless-Ngx
      - TZ=Europe/Berlin
      - PATTERN="scan"_dd-mm-yyyy_hh-MM-ss
      - PGID=1000
      - PUID=1000
      - PAPERLESS_POST_DOCUMENT_URL=http://webserver:8000/api/documents/post_document/
      - PAPERLESS_TOKEN=e61c658d5b209b7f3adcfcd5354f32715e2bf15f
    volumes:
      - ./data/scan:/scan
    networks:
      - internal



# https://docs.paperless-ngx.com/administration/
volumes:
  # Auxiliary data volume
  # OCR-Cache, Logs, Task-queues, some Thumbnails and other stuff. 
  # No backup needed.
  data:
  # Document storage
  # Saved on my TrueNas
  media:
    driver: local
    driver_opts:
      device: ":/mnt/pool/nfs/docker-volumes/paperlessngx/media"
      type: "nfs"
      o: "addr=192.168.178.135,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  # Database volume. 
  # On the ssd due to performance reasons
  pgdata:
  # Databse dumps
  # Saved on my TrueNas
  pgdumps:
    driver: local
    driver_opts:
      device: ":/mnt/pool/nfs/docker-volumes/paperlessngx/pgdumps"
      type: "nfs"
      o: "addr=192.168.178.135,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  # Redis Cache volume
  redisdata:

# Use my reverse proxy
networks:
  internal:
  reverse-proxy:
    external: true
