# Docker Compose file for running paperless from the Docker Hub.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.

services:
  # Redis broker
  broker:
    container_name: paperless_broker
    labels:
      glance.name: Paperless-NGX
      glance.icon: di:paperless
      glance.url: https://paperless.felix0351.duckdns.org
      glance.description: Document storage
      glance.id: paperless
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
    networks:
      - internal

  # Postgres Database
  db: 
    container_name: paperless_db
    labels:
      glance.parent: paperless
      glance.name: DB
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    #  - pgdumps:/backups
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - internal

  # Postgres Backup service
  # Dumps the database every 24 hours.
  pgbackups:
    container_name: paperless_pgbackup
    labels:
      glance.parent: paperless
      glance.name: Postgres-Dumps
    image: docker.io/library/postgres:17
    depends_on:
      - db
    environment:
      PGUSER: paperless
      PGPASSWORD: paperless
      PGHOST: db
      PGDATABASE: paperless
    volumes:
      - pgdumps:/backups
    entrypoint: >
      bash -c 'while true;
      do
        pg_dump -Fc paperless > /backups/paperless_$(date +%Y-%m-%d_%H-%M-%S).dump;
        find /backups -type f -mtime +14 -delete;
        sleep 86400;
      done'
    networks:
      - internal
    
  # Paperless-Ngx main server
  webserver:
    container_name: paperless_server
    labels:
      glance.parent: paperless
      glance.name: Webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    networks:
      - internal
      - reverse-proxy
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media:nocopy
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file:
      - docker-compose.env
      - .env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db

  # HP-Scan Service 
  # https://github.com/manuc66/node-hp-scan-to
  node-hp-scan-to:
    container_name: paperless_hp
    labels:
      glance.parent: paperless
      glance.name: Scan service
    image: docker.io/manuc66/node-hp-scan-to:latest
    restart: unless-stopped
    hostname: node-hp-scan-to
    environment:
      # REQUIRED - Change the next line to the IP address of your HP printer/scanner:
      - IP=192.168.178.53
      # Name that your container will appear as to your printer:
      - LABEL=Paperless-Ngx
      # Set the timezone, such as "Europe/London":
      - TZ=Europe/Berlin
      # Set the created filename pattern:
      - PATTERN="scan"_dd-mm-yyyy_hh-MM-ss
      # Run the Docker container as the same user ID as the host system:
      - PGID=1000
      - PUID=1000
      # Optional - enable autoscanning a document when loaded into the scanner:
      # - MAIN_COMMAND=adf-autoscan
      # If you need to pass additional configuration flag use the CMDLINE env, thy will be appened to the
      # - CMDLINE=--debug --pdf
      # If using Paperless-ngx, you can use its API to upload files:
      - PAPERLESS_POST_DOCUMENT_URL=http://paperless-server:8000/api/documents/post_document/
      - PAPERLESS_TOKEN=e61c658d5b209b7f3adcfcd5354f32715e2bf15f
    volumes:
      - ./scan:/scan
    networks:
      - internal



# https://docs.paperless-ngx.com/administration/
volumes:
  # Auxiliary data volume
  # OCR-Cache, Logs, Task-queues, some Thumbnails and other stuff. 
  # No backup needed.
  data:
  # Document storage
  # Saved on my TrueNas
  media:
    driver: local
    driver_opts:
      device: ":/mnt/pool/nfs/docker-volumes/paperlessngx/media"
      type: "nfs"
      o: "addr=192.168.178.135,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  # Database volume. 
  # On the ssd due to performance reasons
  pgdata:
  # Databse dumps
  # Saved on my TrueNas
  pgdumps:
    driver: local
    driver_opts:
      device: ":/mnt/pool/nfs/docker-volumes/paperlessngx/pgdumps"
      type: "nfs"
      o: "addr=192.168.178.135,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  # Redis Cache volume
  redisdata:

# Use my reverse proxy
networks:
  internal:
  reverse-proxy:
    external: true
